.bodybgcolor{
    background-color: #0D1321;
}

.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    white-space: nowrap;
}

.navbar-nav .nav-item{
    transition: transform 0.3s ease;
    flex: 1;
    text-align: center;
}

.navbar-nav .nav-link{
    color: crimson;
    transition: color 0.2s ease, transform 0.2s ease;
}
.navbar-nav .nav-link:hover{
    color: rgb(197, 71, 96);
    transform: scale(1.5);
    text-shadow: 0 0 10px #E43F5A, 0 0 20px #E43F5A, 0 0 30px #E43F5A, 0 0 40px #E43F5A;
}
